.container {
    display: flex;
    height: calc( 100% - 154px );
    justify-content: center;
    padding: 20px;

    .container-inner {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: fit-content;
        max-height: 100%;
        max-width: 650px;
        width: 90%;

        .form-header {
            font-size: 24pt;
            margin-top: 10px;
            padding: 20px;
        }

        .table-header {
            display: flex;
            justify-content: flex-end;
            width: 90%;

            .search-report {
                align-items: right;
                width: 200px;

                .icon {
                    vertical-align: sub;
                }
            }   
        }

        .table-body {
            overflow: scroll;
            width: 90%;
            
            .report-table {
                width: 100%;

                .item-column {
                    background-color: #facd3c;
                    padding-right: 20px;
                    text-align: right;
                    width: 100px;
                }
                
                .column-title {
                    text-align: center;
                }
                
                .report-column {
                    padding-left: 20px;
                    text-align: left;
                }
            }
        }
    }
}

.footer {
    text-align: center;
    padding: 10px;
}